<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
    <!-- Compiled and minified JavaScript, must be at the start for Toasts to work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {# Icons using materialize https://materializecss.com/icons.html #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>NIBEC</title>
</head>

<body>

    {% include 'navbar.html' %} {# Navbar code #}
    {% include 'messages.html' %} {# User alert messages #}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>