{% extends 'base.html' %}

{% block content %}
    <p>Create your algorithm:</p>
    <form action={% url 'create_algorithm' %} method="POST">
        <div class="input-field">
            {% csrf_token %}
            {{ algorithm_form.as_p }}
            <button
                class="btn waves-effect waves-light indigo darken-4"
                type="submit"
                name="execution_select">
                Process
            </button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {# TODO: Add download watcher here to redirect to 'show_files' #}
{% endblock %}