<br><br>
<footer class="page-footer uu-core-blue">
    <div class="container">
        <div class="row">
            <h5 class="white-text">Follow us on social media:</h5>
            <div class="col s2 l2">
                <a class="waves-effect waves-light btn social github">
                <i class="fa fa-github"></i>Github</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2020 Ulster University - Ulster University is a registered charity (registered with the Charity Commission for Northern Ireland NIC100166).
        </div>
    </div>
</footer>