<!-- Nav bar (logo) https://materializecss.com/navbar.html -->
<nav class="indigo darken-4">
<div class="nav-wrapper">
  <a href="{% url 'index' %}" class="brand-logo">NIBEC Cloud Computing</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="{% url 'index' %}">Home</a></li>
      {# If a user is logged in, show a different navbar #}
      {% if user.is_authenticated %}
        <li><a href="/account">{{ user.username }}</a></li>
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      {% endif %}
  </ul>
</div>
</nav>