{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <br>
        <h5>All files for {{ current_user.username }}:</h5>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Format</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.name }}</td>
                        <td>{{ file.format }}</td>
                        {% load filename %} {# Get filename #}
                        <td>{{ file.uploaded_file | getfilename }}</td>
                        <td><a
                                class="btn waves-effect waves-light indigo darken-4"
                                href="{% url 'download_file' file_id=file.identifier %}"
                                name="download">
                                <i class="material-icons">cloud_download</i>
                            </a>
                        </td>
                        <td><a
                                class="btn waves-effect waves-light indigo darken-4"
                                href="{% url 'create_algorithm' input_file_id=file.identifier %}"
                                name="process">
                                <i class="material-icons">autorenew</i>
                            </a>
                        </td>
                        <td><a
                                class="btn waves-effect waves-light indigo darken-4"
                                href="{% url 'delete_file' file_id=file.identifier %}"
                                name="delete">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'create_algorithm' %}" class="waves-effect waves-light indigo darken-4 btn-large">
            <i class="material-icons right">autorenew</i>Process</a>
        <br>
    {% endif %}
{% endblock %}