{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <br>
        <a href="{% url 'create_algorithm' %}" class="waves-effect waves-light btn-large">
            <i class="material-icons right">autorenew</i>Process</a>
        <br>
        <h5>All files for {{ current_user.username }}:</h5>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Format</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.name }}</td>
                        <td>{{ file.format }}</td>
                        {% load filename %} {# Get filename #}
                        <td>{{ file.uploaded_file | getfilename }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}